*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
header{
    display: flex;
    justify-content: center;
    padding: 16px;
    background-color: rgb(151, 136, 114);
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
.container{
    max-width: 1080px;
    margin: auto;
    margin-top: 108px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.74);
    border-radius: 16px;
}
form,
table{
    padding: 18px;
}
.form-campo{
    padding-bottom: 10px;
}
.form-campo input{
    width: 100%;
    display: block;
    padding: 8px;
    margin-bottom: 8px;
}
button{
    width: 50%;
    margin-left: 25%;
    padding: 8px;
    text-transform: uppercase;
    border: none;
    background-color: rgba(151, 136, 114, 0.664);
    cursor: pointer;
}
button:hover{
    background-color: rgba(151, 136, 114, 0.486);
}
table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

table th{
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    padding: 8px ;
}
table td{
    padding: 16px 0;
    text-align: center;
    border-bottom: 1px solid black;

}
table th:first-child {
    border-left: none;
}

table tbody tr:last-child {
    border-bottom: none;
}